Repository scolladon/apex-async-linkable: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, sfdx scanner:run -v -f table -c 'Async-Linkable' -t

.lintstagedrc:

{
    "**/*.{cls,cmp,component,css,html,js,json,md,page,trigger,yaml,yml}": [
      "prettier --write"
    ],
    "**/classes/*.cls": [
      "sfdx scanner:run -v -f table -c 'Async-Linkable' -t "
    ]
}

build: upgrade dependencies
  package-lock.json
  package.json
Due: prettier --write

fix: ignore sfdx-cli folder
  .prettierignore
Due: none

fix: CI ignore file not created
  .github/workflows/main.yml
  .github/workflows/pull-request.yml
Due: prettier --write

build: upgrade to api version 53.0
  chain/src/lib/classes/AsyncLinkable.cls-meta.xml
  chain/src/lib/classes/BatchLink.cls-meta.xml
  chain/src/lib/classes/ChainManager.cls-meta.xml
  chain/src/lib/classes/FutureLink.cls-meta.xml
  chain/src/lib/classes/QueueLink.cls-meta.xml
  chain/src/lib/classes/ScheduleBatchLink.cls-meta.xml
  chain/src/lib/classes/ScheduleLink.cls-meta.xml
  chain/src/test/classes/AsyncLinkableTest.cls-meta.xml
  chain/src/test/classes/BatchLinkTest.cls-meta.xml
  chain/src/test/classes/ChainManagerTest.cls-meta.xml
  chain/src/test/classes/FutureLinkTest.cls-meta.xml
  chain/src/test/classes/QueueLinkTest.cls-meta.xml
  chain/src/test/classes/ScheduleBatchLinkTest.cls-meta.xml
  chain/src/test/classes/ScheduleLinkTest.cls-meta.xml
  samples/src/simple/classes/AccountServiceSimple.cls-meta.xml
  samples/src/simple/classes/AccountTriggerHandlerSimple.cls-meta.xml
  samples/src/simple/triggers/AccountTriggerSimple.trigger-meta.xml
Due: none

refactor: implements iterable and iterator
  chain/src/lib/classes/AsyncLinkable.cls
  chain/src/lib/classes/ChainManager.cls
Due: prettier --write, sfdx scanner:run -v -f table -c 'Async-Linkable' -t

build: avoid source member polling during CI jobs
  .github/workflows/main.yml
  .github/workflows/pull-request.yml
Due: prettier --write

build: ensure lint is done before pushing
  package.json
Due: prettier --write

fix: remove lint from pre-commit as already done in lint-staged
  package.json
Due: prettier --write

fix: pozil review (#5)
  .forceignore
  .github/workflows/pull-request.yml
  .lintstagedrc
  .prettierignore
  README.md
  apex-ruleset.xml
  chain/src/lib/classes/AsyncLinkIterable.cls
  chain/src/lib/classes/AsyncLinkIterable.cls-meta.xml
  chain/src/lib/classes/AsyncLinkable.cls
  chain/src/lib/classes/BatchLink.cls-meta.xml
  chain/src/lib/classes/ChainManager.cls
  chain/src/lib/classes/ChainManager.cls-meta.xml
  chain/src/lib/classes/FutureLink.cls
  chain/src/lib/classes/FutureLink.cls-meta.xml
  chain/src/lib/classes/QueueLink.cls-meta.xml
  chain/src/lib/classes/ScheduleBatchLink.cls-meta.xml
  chain/src/lib/classes/ScheduleLink.cls-meta.xml
  chain/src/test/classes/AsyncLinkIterableTest.cls
  chain/src/test/classes/AsyncLinkIterableTest.cls-meta.xml
  chain/src/test/classes/AsyncLinkableTest.cls-meta.xml
  chain/src/test/classes/BatchLinkTest.cls-meta.xml
  chain/src/test/classes/ChainManagerTest.cls-meta.xml
  chain/src/test/classes/FutureLinkTest.cls-meta.xml
  chain/src/test/classes/QueueLinkTest.cls-meta.xml
  chain/src/test/classes/ScheduleBatchLinkTest.cls-meta.xml
  chain/src/test/classes/ScheduleLinkTest.cls-meta.xml
  package-lock.json
  package.json
  postInstall.sh
  samples/src/simple/classes/AccountServiceSimple.cls
  samples/src/simple/classes/AccountServiceSimple.cls-meta.xml
  samples/src/simple/classes/AccountTriggerHandlerSimple.cls-meta.xml
  samples/src/simple/triggers/AccountTriggerSimple.trigger-meta.xml
  sfdx-project.json
Due: prettier --write, sfdx scanner:run -v -f table -c 'Async-Linkable' -t

Update README.md
  README.md
Due: prettier --write

docs: fix typos (#6)
  README.md
Due: prettier --write

feat: add first implementation
  chain/src/lib/classes/ChainManager.cls
Due: prettier --write, sfdx scanner:run -v -f table -c 'Async-Linkable' -t

build: remove apex doc static analysis check
  apex-ruleset.xml
Due: none

refactor: use Assert.* instead of System.assert*
  apex-ruleset.xml
  chain/src/test/classes/AsyncLinkIteratorTest.cls
  chain/src/test/classes/AsyncLinkableTest.cls
  chain/src/test/classes/BatchLinkTest.cls
  chain/src/test/classes/ChainManagerTest.cls
  chain/src/test/classes/FutureLinkTest.cls
  chain/src/test/classes/QueueLinkTest.cls
  chain/src/test/classes/ScheduleBatchLinkTest.cls
  chain/src/test/classes/ScheduleLinkTest.cls
Due: prettier --write, sfdx scanner:run -v -f table -c 'Async-Linkable' -t

build: improve prettier ignore
  .prettierignore
Due: none

build: add proper gitignore
  .gitignore
Due: none

fix: prettier and API version
  chain/src/lib/classes/AsyncLinkIterable.cls-meta.xml
  chain/src/lib/classes/AsyncLinkable.cls-meta.xml
  chain/src/lib/classes/BatchLink.cls-meta.xml
  chain/src/lib/classes/ChainManager.cls-meta.xml
  chain/src/lib/classes/FutureLink.cls-meta.xml
  chain/src/lib/classes/QueueLink.cls-meta.xml
  chain/src/lib/classes/ScheduleBatchLink.cls-meta.xml
  chain/src/lib/classes/ScheduleLink.cls-meta.xml
  chain/src/test/classes/AsyncLinkIterableTest.cls-meta.xml
  chain/src/test/classes/AsyncLinkableTest.cls-meta.xml
  chain/src/test/classes/BatchLinkTest.cls-meta.xml
  chain/src/test/classes/ChainManagerTest.cls-meta.xml
  chain/src/test/classes/FutureLinkTest.cls-meta.xml
  chain/src/test/classes/QueueLinkTest.cls-meta.xml
  chain/src/test/classes/ScheduleBatchLinkTest.cls-meta.xml
  chain/src/test/classes/ScheduleLinkTest.cls-meta.xml
  chain/src/test/testSuites/chainLibrary.testSuite-meta.xml
  samples/src/simple/classes/AccountServiceSimple.cls-meta.xml
  samples/src/simple/classes/AccountTriggerHandlerSimple.cls-meta.xml
  samples/src/simple/triggers/AccountTriggerSimple.trigger-meta.xml
Due: none

refactor: make finish override implementation optional
  chain/src/lib/classes/BatchLink.cls
Due: prettier --write, sfdx scanner:run -v -f table -c 'Async-Linkable' -t

feat: rename `Visitor` to `LinkVisitor`
  chain/src/lib/classes/AsyncLinkable.cls
  chain/src/lib/classes/ChainManager.cls
Due: prettier --write, sfdx scanner:run -v -f table -c 'Async-Linkable' -t

build: remove scanner check at the commit level
  .lintstagedrc
Due: none

refactor: remove iterable implementation and use iterator directly
  chain/src/lib/classes/AsyncLinkIterable.cls
  chain/src/lib/classes/AsyncLinkIterator.cls
  chain/src/lib/classes/AsyncLinkIterator.cls-meta.xml
  chain/src/lib/classes/AsyncLinkable.cls
  chain/src/lib/classes/ChainManager.cls
  chain/src/lib/classes/FutureLink.cls
  chain/src/test/classes/AsyncLinkIteratorTest.cls
  chain/src/test/classes/AsyncLinkIteratorTest.cls-meta.xml
Due: prettier --write, sfdx scanner:run -v -f table -c 'Async-Linkable' -t

test: order alphabetically tests in testsuite
  chain/src/test/testSuites/chainLibrary.testSuite-meta.xml
Due: none

feat: add sfdx-scanner
  .github/workflows/main.yml
  .github/workflows/pull-request.yml
Due: prettier --write

refactor: rename samples to recipe
  recipes/src/simple/classes/AccountServiceSimple.cls
  recipes/src/simple/classes/AccountServiceSimple.cls-meta.xml
  recipes/src/simple/classes/AccountTriggerHandlerSimple.cls
  recipes/src/simple/classes/AccountTriggerHandlerSimple.cls-meta.xml
  recipes/src/simple/triggers/AccountTriggerSimple.trigger
  recipes/src/simple/triggers/AccountTriggerSimple.trigger-meta.xml
  sfdx-project.json
Due: prettier --write, sfdx scanner:run -v -f table -c 'Async-Linkable' -t

test: addFirst spec
  chain/src/test/classes/ChainManagerTest.cls
Due: prettier --write, sfdx scanner:run -v -f table -c 'Async-Linkable' -t

fix: remove first canBreak implementation
  chain/src/lib/classes/AsyncLinkable.cls
  chain/src/test/classes/BatchLinkTest.cls
  chain/src/test/classes/FutureLinkTest.cls
  chain/src/test/classes/QueueLinkTest.cls
  chain/src/test/classes/ScheduleBatchLinkTest.cls
  chain/src/test/classes/ScheduleLinkTest.cls
Due: prettier --write, sfdx scanner:run -v -f table -c 'Async-Linkable' -t

docs: first README draft
  README.md
  recipes/src/complex/classes/AccountServiceSimple.cls
  recipes/src/complex/classes/AccountServiceSimple.cls-meta.xml
  recipes/src/complex/classes/AccountTriggerHandlerSimple.cls
  recipes/src/complex/classes/AccountTriggerHandlerSimple.cls-meta.xml
  recipes/src/complex/triggers/AccountTriggerSimple.trigger
  recipes/src/complex/triggers/AccountTriggerSimple.trigger-meta.xml
  resources/class-diagram.png
Due: prettier --write, sfdx scanner:run -v -f table -c 'Async-Linkable' -t

build: remove unused rules
  apex-ruleset.xml
Due: none

test: add iterator test to the testsuite
  chain/src/test/testSuites/chainLibrary.testSuite-meta.xml
Due: none

test: coverage 100% for BatchLink
  chain/src/test/classes/BatchLinkTest.cls
Due: prettier --write, sfdx scanner:run -v -f table -c 'Async-Linkable' -t

docs: add iterator and visitor doc
  README.md
  resources/class-diagram.png
Due: prettier --write

build: migrate to main branch
  .github/workflows/main.yml
  .github/workflows/pull-request.yml
  README.md
Due: prettier --write

feat: add debounce and throttle sample
  README.md
  recipes/src/debounce/classes/Debounceable.cls
  recipes/src/debounce/classes/Debounceable.cls-meta.xml
  recipes/src/throttle/classes/Throttlable.cls
  recipes/src/throttle/classes/Throttlable.cls-meta.xml
Due: prettier --write, sfdx scanner:run -v -f table -c 'Async-Linkable' -t

build: upgrade dependencies
  .github/workflows/pull-request.yml
Due: prettier --write

feat: implement enqueue job delay
  chain/src/lib/classes/QueueLink.cls
Due: prettier --write, sfdx scanner:run -v -f table -c 'Async-Linkable' -t

test: enqueue job delay
  chain/src/test/classes/QueueLinkTest.cls
Due: prettier --write, sfdx scanner:run -v -f table -c 'Async-Linkable' -t

build: update to API 57
  chain/src/lib/classes/AsyncLinkIterator.cls-meta.xml
  chain/src/lib/classes/AsyncLinkable.cls-meta.xml
  chain/src/lib/classes/BatchLink.cls-meta.xml
  chain/src/lib/classes/ChainManager.cls-meta.xml
  chain/src/lib/classes/FutureLink.cls-meta.xml
  chain/src/lib/classes/QueueLink.cls-meta.xml
  chain/src/lib/classes/ScheduleBatchLink.cls-meta.xml
  chain/src/lib/classes/ScheduleLink.cls-meta.xml
  chain/src/test/classes/AsyncLinkIteratorTest.cls-meta.xml
  chain/src/test/classes/AsyncLinkableTest.cls-meta.xml
  chain/src/test/classes/BatchLinkTest.cls-meta.xml
  chain/src/test/classes/ChainManagerTest.cls-meta.xml
  chain/src/test/classes/FutureLinkTest.cls-meta.xml
  chain/src/test/classes/QueueLinkTest.cls-meta.xml
  chain/src/test/classes/ScheduleBatchLinkTest.cls-meta.xml
  chain/src/test/classes/ScheduleLinkTest.cls-meta.xml
  recipes/src/complex/classes/AccountServiceSimple.cls-meta.xml
  recipes/src/complex/classes/AccountTriggerHandlerSimple.cls-meta.xml
  recipes/src/complex/triggers/AccountTriggerSimple.trigger-meta.xml
  sfdx-project.json
Due: prettier --write

fix: prettier issue
  recipes/src/debounce/classes/Debounceable.cls-meta.xml
  recipes/src/throttle/classes/Throttlable.cls-meta.xml
Due: none
